@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_ultralight.woff2") format("woff2"),
    url("./normal/novecento_sans_ultralight.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_light.woff2") format("woff2"),
    url("./normal/novecento_sans_light.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_book.woff2") format("woff2"),
    url("./normal/novecento_sans_book.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_normal.woff2") format("woff2"),
    url("./normal/novecento_sans_normal.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_medium.woff2") format("woff2"),
    url("./normal/novecento_sans_medium.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_demibold.woff2") format("woff2"),
    url("./normal/novecento_sans_demibold.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_bold.woff2") format("woff2"),
    url("./normal/novecento_sans_bold.otf") format("opentype");
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: "Novecento Sans Normal (Number Only)";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src:
    url("./normal/novecento_sans_ultrabold.woff2") format("woff2"),
    url("./normal/novecento_sans_ultrabold.otf") format("opentype");
  unicode-range: U+0030-0039;
}
